.card {
  background: var(--card-background);
  border: 1px solid var(--card-border);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.title {
  color: var(--text);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.content {
  color: var(--text);
  font-size: 1.1rem;
}
