.button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.button:active {
  transform: translateY(1px);
  box-shadow: none;
}

.primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
}

.primary:hover {
  background-color: var(--button-primary-hover-bg);
}

.secondary {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-text);
}

.secondary:hover {
  background-color: var(--button-secondary-hover-bg);
}

.rounded {
  padding: 6px 10px;
  border-radius: 20px;
  background-color: var(--background);
  border: 1px solid var(--text);
  color: var(--text);
  cursor: pointer;
  transition: all 0.2s ease;
}

.rounded:hover {
  background-color: var(--button-secondary-hover-bg);
}

.success {
  background-color: #46a446;
  color: #fff;
}

.danger {
  background-color: #d2332d;
  color: #fff;
}
