.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.link {
  padding: 10px 15px;
  color: var(--text-secondary);
  text-decoration: none;
}

.active {
  color: var(--text);
  font-weight: bold;
  border-bottom: 2px solid var(--accent-color);
}
