.header {
  position: sticky;
  top: 0;
  display: flex;
  text-align: center;
  color: var(--text);
  transition: all 0.2s ease;
}

.title {
  font-size: 2rem;
  flex: 1;
}

.side {
  display: flex;
  flex-direction: column;
}

.side button {
  width: 75px;
}

.theme {
  margin-bottom: 10px;
}
