.header {
  display: flex;
  background: var(--header-bg);
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text);
  transition: all 0.2s ease;
  position: relative;
}

.text {
  flex: 1;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.side button {
  width: 75px;
}

.theme {
  margin-bottom: 10px;
}
